nav#questionsList
    div.attachBlockTrue.attachBlock
    a(nohref).all-questions всі
    div.underline_row
    a(nohref).new-questions нові
    a(nohref).old-questions прочитані
    a(nohref).favorite-questions обрані
    div.underline_row
    a(nohref)#listAdd.add_list_button додати новий список
    div.underline_row
    each list in lists
        a(nohref)
            span.questions-list-title= list.title
            button(type="button", value="#{list._id}").listIdButton 