-
    var navbar = {
    
        home: {
            href: '/',
            title: 'головна'
        },
        message: {
            href: '/message',
            title: 'повідомлення'
        },
        questions: {
            href: '/questions',
            title: 'запитання'
        }
        
    }

nav#navbar
    each link in navbar
        a.nav-link(href="#{link.href}") #{link.title}