menu#menu
    button#favorite(class= favorite + "_button") 
        - if (favorite == 'change')
            додати до обраного
        - else
            видалити з обраного

    form#questionsListForm
        input#toList.add_to_list_button(type="button", value="додати до списоку запитань")
        select#listValues(required)
            each item in lists
                option(value="#{item.title}")= item.title