#okko-title-header {
    width: 100%;
}

#mainOkkoTextLink {
    margin-top: 70px;
    
    display: block;
    
    cursor: pointer!important;
    
    padding: 15% 0;
}

#okko-title-header h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: @mainWidth * 0.9 / 4;
    font-family: 'Roboto';
    font-weight: bold;
    
    color: #222222;
    
    border-radius: 80px 80px 180px 180px;
    
    margin: 0 5%;
    
    cursor: pointer;
}

#okko-title-header h1:hover {
    color: white;
    
    background-color: #6EBD44;
}