#messageform {    
    width: @mainWidth;
    
    position: relative;
    
    margin: 0 auto;
    padding: 50px;
}

#messageform p {
    border-bottom: 1px solid rgba(192, 192, 192, 0.19);
    
    position: relative;
        
    margin: 0 10%;
    padding: 20px 30px;
}

#messageform p:first-child {
    border-top: 1px solid rgba(192, 192, 192, 0.19);
}

#messageform label {
    width: 30%;
    
    display: inline-block;
    
    color: #4e4e4e;
    
    font-family: sans-serif;
    font-size: @mainTitleFontSize + 2px;
    font-weight: bold;
    
    text-transform: capitalize;
    
    float: left;
    
    margin-left: 5%;
    padding: 10px;
    
    border-radius: 2px;
}

#messageform input {
    width: 50%;
    margin-left: 10%
}

#messageform textarea {
    margin-left: 10%;
    
    max-width: 400px;
	width: 50%;
}

#messageform input, #messageform textarea {
    padding: 10px;
    
    border:1px solid #aaa;
    border-radius: 2px;    
    box-shadow: 0px 0px 3px #f0faf3, 0 10px 15px rgba(239, 255, 239, 0.23) inset;
    
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
}

#messageform input:focus, #messageform textarea:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
    
    padding: 15px;
}

#messageform input:focus:invalid, #messageform textarea:focus:invalid {
    background-image: url('http://localhost:3000/images/assets/alert.png');
    background-position: 95% center;
    background-repeat: no-repeat;
    background-size: 20px;
    
    box-shadow: 0 0px 7px red + #888;
}

#messageform input:focus:valid, #messageform textarea:focus:valid {
    background-image: url('http://localhost:3000/images/assets/fine.png');
    background-position: 95% center;
    background-repeat: no-repeat;
    background-size: 20px;
    
    box-shadow: 0 0px 7px green + #666;
}

#messageform button{
	margin-left: 45%;
}

#messageform input, #messageform textarea {
    border: 1px solid #cbcbcb;
    
    color: #222222;
    
    font-family: sans-serif;
    font-size: 16px;
}

#message-form-title {
    background-color: rgba(222, 224, 220, 0.3);
}

#message-form-title::after {
    content: '';
    
    width: 100%;
    height: 10px;
    
    display: block;
    
    background: linear-gradient(45deg, #7DC454, #c2e5b2, #9bdeb1, #6fc388, #54c34b, #91db94, #7DC454);
}

#message-form-title h1 {
    color: #222222;
    font-family: 'Roboto';
    
    margin-left: 10%;
}

.error-message {
    color: #676767;
    
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: bold;
}