#question-header {
    width: @mainWidth;
    
    margin: 0 auto;
    padding: 30px 0;
    
    box-shadow: 0 3px 50px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    color: white;
    font-family: 'Roboto-Thin', verdana;
    font-size: 45px;
    font-weight: bolder;
    font-style: normal;
    
    cursor: default;
    
    padding: 30px 40px;
    
    text-rendering: geometricPrecision;
    text-transform: capitalize;
}

#question-header h2, #question-header p {
    padding: 0 40px;
}

#question-header h2.name span::before {
    content: ':';
    padding-right: 10px;
}

#question-header {
    background-color: #7DC454;
}

#question-header p span{
	color: #555555;
    font-weight: bold;
}

#question-header p {
    color: #2e2e2e;
    font-weight: bold;
}

#question-header p span {
    color: #5a5a5a;
    font-weight: bold;
}

#question-info-box {
	font-family: sans-serif;
}

#question-info-box section {
    color: #404040;
    
    margin: 0 30px;
    
    border-bottom: 1px solid rgba(192, 192, 192, 0.19);
    
    font-weight: bold;
}

#question-info-box section p span {
    display: table-cell;
    
    border-left: 1px solid black;
    
    margin-top: -10px;
    
    float: right;
    
    width: 600px;
    
    padding: 10px 45px;
    
    box-sizing: content-box;
}

#question-info-box section>p {
    text-transform: capitalize;

    cursor: default;
    
    font-size: 25px;
    
    clear: both;
    
    width: 100%;
    
    position: relative;
    
    display: table!important;
    
    padding: 20px 50px;
}

#question-info-box span {
    color: #404040;
    
    font-weight: normal;
    
    text-transform: none!important;
}

#menu {
    margin: 20px 30px;
    padding: 30px 50px;
    
    border-bottom: 1px solid rgba(192, 192, 192, 0.19);
    border-top: 1px solid rgba(192, 192, 192, 0.19);
}

#menu>* {
    display: inline-block;
    
    margin-left: 50px;
}

#menu>*:first-child {
    margin-left: 0;
}