.mainTitleArticle {    
    width: @mainWidth;
    
    margin: 30px auto 0 auto;
    
    background-color: transparent;
    
    text-transform: capitalize;
}

.main_title {
    color: @mainTitleColor;
    font-size: @mainTitleFontSize;
    font-family: @mainTitleFontFamily;
    
    text-indent: 10px;
    
    padding: 20px 0;
}

.message-fields-titles {
    border-bottom: 5px solid #7DC454;
    border-radius: @mainBorderRadius @mainBorderRadius 0 0;
}

.message_link {
    display: block;
    
    position: relative;
    
    color: @messagesColor;
    
    width: @mainWidth;
    
    clear: both;
}

.message_link:nth-child(odd) {
	background-color: @firstQuestionsBgColor;
}

.message_link:nth-child(even) {
	background-color: @secondQuestionsBgColor;
}

.message_link:last-child {
    border-radius: 0 0 @mainBorderRadius @mainBorderRadius;
}

.field-inlist {
    float: right;
    
    margin-top: -50px;
    margin-right: -130px;
}

.message-fields, .message-fields-titles {
    text-rendering: geometricPrecision;
    
    font-family: @messagesFontFamily;
    
	display: flex;
        
    position: relative;
    
    padding: 20px 0;
}

.message-fields-titles li {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.message-fields-titles>li:hover {
    cursor: default;
}

.message_link:nth-child(even):hover, .message_link:nth-child(odd):hover {
    border-bottom: 1px solid #7DC454;
    border-top: 1px solid #8e8e8e;
}

.message-fields:hover {
    box-shadow: -5px 0px 0px #7DC454;
}

.message-fields li, .message-fields-titles li {    
    
    border-right: 1px solid silver;
    
    padding: 0 10px;
    
    box-sizing: content-box;
    
    list-style-type: none;
}

.message-fields li:last-child, .message-fields-titles li:last-child {  
    border-right: none;
}

.field-name {
    width: @nameWidth;
    text-align: left;
}

.field-subject {
    width: @subjectWidth;
    text-align: justify;
}

.field-mail {
    width: @mailWidth;
    text-align: left;
}

.field-date {
    width: @dateWidth;
    text-align: center;
}

.field-change {
    width: @changeWidth;
    text-align: center;
}

.field-status {
    width: @statusWidth;
    text-align: right;
}

.message-fields-titles li {
    
}