block vars

html(lang="UA")
    head
        include ../partials/head
        block additional
    
    body(class= page.name + "-page")
        include ../partials/header
                
        block main
        
        include ../partials/footer          