@font-face {
    font-family: 'Roboto-Thin';
    src:  url('http://localhost:3000/stylesheets/fonts/roboto/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'Roboto';
    src:  url('http://localhost:3000/stylesheets/fonts/roboto/Roboto-Light.ttf');
}