extends ../layouts/default

block vars
    -
        page = {
            name: 'Main',
            title: 'My site / Send message'
        }

block additional
    script(src="scripts/message.js")

block main
    article.mainTitleArticle
        h1.main_title форма відправлення повідомлення
    
    main#main
        header#message-form-title
            h1 зворотний зв'язок
        
        form#messageform(method="post")
                p
                    label(for="fio") ім'я
                    input(type="text", size="32", maxlength="36", name="fio", placeholder="", val="", required)
                p
                    label(for="card") номер карти
                    input(type="text", size="32", maxlength="36", name="card", placeholder="**** - **** - **** - ****", val="", autocomplete="off", required)
                p
                    label(for="mail") е-mail
                    input(type="email", size="32", maxlength="36", name="mail", placeholder="example@mail.com", val="", required)
                p
                    label(for="phone") телефон
                    input(type="phone", size="32", maxlength="36", name="phone", placeholder="+380", val="", autocomplete="off", required)
                p
                    label(for="subject") тема
                    input(type="text", size="32", maxlength="36", name="subject", placeholder="", val="", list="thems", autocomplete="off", required)
                    datalist#thems
                        option(value="реєстрація")
                        option(value="картки")
                        option(value="відновлення доступу")
                        option(value="об'єднання карток")
                        option(value="нарахування та списання балів")
                        option(value="зміна персональних даних")
                        option(value="винагороди")
                        option(value="співпраця")
                        option(value="акції")
                        option(value="обслуговування")
                p
                    label(for="text") повідомлення
                    textarea(cols="34", rows="10", name="text", placeholder="...", val="", autocomplete="off", required)
                p
                    button(type="submit") Надіслати
                p
                    span.error-message ...