extends ../layouts/default

block vars
    -
        page = {
            name: 'Messages',
            title: 'My site / Get all messages'
        }

block main
    include ../components/list
    
    article.mainTitleArticle
        h1.main_title список повідомлень
    
    main#main
        ul.message-fields-titles
            li.field-name Ім'я
            li.field-subject тема
            li.field-mail е-mail
            li.field-date дата
            li.field-change обране 
            li.field-status стан 

        each message in questions
            a(href="question/#{message._id}").message_link
                ul.message-fields
                    li.field-name= message.name
                    li.field-subject= message.subject
                    li.field-mail= message.mail
                    li.field-date= message.date.getHours() + ':' + message.date.getMinutes() + ' ' + message.date.getDate() + '.' + message.date.getMonth() + '.' + message.date.getFullYear()
                    li.field-change= message.changed                    
                    li.field-status= message.status    
            - if (inlist)
                button(value="#{message._id}").field-inlist видалити
                    
block additional
    script(src="http://localhost:3000/scripts/list.js")
    script(src="http://localhost:3000/scripts/question.js")