extends ../layouts/default

block vars
    -
        page = {
            name: 'Question',
            title: 'My site / Question'
        }

block main
    include ../components/list
    
    article.mainTitleArticle
        h1.main_title конкретне повідомлення
    
    main#main
        header#question-header
            h1 основна інформація
            h2.name відправник 
                span.question_message_value #{message.name}
            p.date отримано 
                span.question_message_value= message.date.getHours() + ':' + message.date.getMinutes() + ' ' + message.date.getDate() + '.' + message.date.getMonth() + '.' + message.date.getFullYear()
        
        include ../components/operations 
        
        article#question-info-box
            section
                p.post пошта 
                    span.question_message_value #{message.mail}
                p.phone номер телефону 
                    span.question_message_value #{message.phone}
                p.card номер карти 
                    span.question_message_value #{message.card}
            section
                p.subject тема повідомлення 
                    span.question_message_value #{message.subject}
                p.message повідомлення 
                    span.question_message_value #{message.messageText}
            section
                //p.changed  
                    span.question_message_value 
                        - if (message.changed == true)
                            обрано
                        - else
                            не обрано
                p.status стан 
                    span.question_message_value #{message.status}
                
block additional
    script(src="http://localhost:3000/scripts/operation.js")
    script(src="http://localhost:3000/scripts/list.js")