extends layouts/default

block vars
    -
        page = {
            name: 'Some error',
            title: 'My site / Error'
        }

block main
    main#main.mainErrorPage
        hgroup
            h1#errorStatus= error.status
            h3#errorMessage= error.message
        a(href="/").onMain
            button На головну