extends layouts/default

block vars
    -
        page = {
            name: 'Main',
            title: 'My site / Send message'
        }

block main
    main#main
        header#okko-title-header
            a(href="https://www.okko.ua")#mainOkkoTextLink
                h1 okko