//header
@BackgroundColor: #FFFFFF;
@navWidth: 1150px;
@navHeight: 50px;

@logoURL: url('http://localhost:3000/images/assets/logo.png');


//header main navbar
@navbarTextColor: #525252;
@navbarBackgroundColor: #FFFFFF;

@navbarLinksPadding: 17px 0;
@navbarLinksWidth: 172px;
@navbarLinksBorder: 1px solid #EBEBEB;
@navbarLinksFontFamily: arial, "Helvetica Neue", "Helvetica", Helvetica, sans-serif;
@navbarLinksFontSize: 14px;
@navbarLinksFontWeight: normal;

@navbarLinksHoverBackground: linear-gradient(to top, #F5F5F5, #FAFAFA, #FFFFFF);


//questions list menu
@questionsBackgroundColor: #080808;
@questionsColor: #f4f4f4;
@questionsFontSize: 28px;
@questionsFontFamily: @navbarLinksFontFamily;
@questionsTitlesBackgroundColor: #080808;

@questionsBoxBorderRadius: 5px;


//main
@bodyColor: #E6E6E6;
@mainColor: #FFFFFF;

@mainWidth: 1150px;

@mainTitleColor: #4C4C4C;
@mainTitleFontSize: 14px;
@mainTitleFontFamily: Arial, "Helvetica Neue", "Helvetica", Helvetica, sans-serif;

@mainBorderRadius: 5px;

//questions
@firstQuestionsBgColor: #FFFFFF;
@secondQuestionsBgColor: #F2F2F2;

@messagesColor: #222222;

@messagesFontFamily: "Helvetica Neue", "Helvetica", Helvetica, sans-serif;

@nameWidth: 250px;
@subjectWidth: 400px;
@mailWidth: 300px;
@dateWidth: 250px;
@changeWidth: 100px;
@statusWidth: 200px;


//footer
@footerBackgroundColor: transparent;
@footerFontFamily: Arial, "Helvetica Neue", "Helvetica", Helvetica, sans-serif;

@footerBorderColor: #D8D8D8;