#questionsList {
    background-color: @questionsBackgroundColor;
    
    box-shadow: 5px 20px 150px black;
    
    border-radius: 0 @questionsBoxBorderRadius @questionsBoxBorderRadius 0;    
        
    position: fixed;
    top: 0;
    left: -520px;
    
    opacity: 0.1;
    
    overflow-y: auto;
    overflow-x: hidden;
    
    padding: 70px 20px 50px 15px;
    
    height: 100vh;   
    width: 550px;
    
    z-index: 2;
}

#questionsList:hover {
	left: 0;
    opacity: 1;
}

#questionsList a {
    background-color: @questionsTitlesBackgroundColor;
    color: @questionsColor;
    
    font-family: @questionsFontFamily;
        
	display: block;
    
    overflow: hidden;
    
    max-width: 400px;
    
    padding: 10px 0 10px 20px;
}

#questionsList a:first-child {
    border-radius: 0 @questionsBoxBorderRadius 0 0;
}

#questionsList a:last-child {
    border-radius: 0 0 @questionsBoxBorderRadius 0;
}

#questionsList a:hover {
    background-color: @questionsTitlesBackgroundColor + #111;
    
    color: @questionsColor + #222;
}

.all-questions, .new-questions, .old-questions, .favorite-questions, .questions-list-title {
    font-size: @questionsFontSize;
    
    text-transform: capitalize;
    
    cursor: pointer;
}

#listAdd {
    font-size: @questionsFontSize - 5px;
    
    background-image: url('http://localhost:3000/images/assets/addAsset.png');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 20px auto;
    
    //margin-left: 20px;
    padding-left: 45px!important;
    
    //box-sizing: content-box;
    
    font-style: italic;
    
    text-transform: capitalize;
    
    color: @questionsColor - #222!important;
    
    clear: both;
}

#listAdd:hover {
    background-color: @questionsBackgroundColor!important;
	cursor: pointer;
}

.questions-list-title {
    font-size: @questionsFontSize;
        
    text-transform: none!important;
    
    padding-right: 25px;
    
    box-shadow: 1px 0 0px #b2b2b2;
}

.questions-list-title:hover {
	cursor: pointer;
    
    color: @questionsColor - #333;
}

.underline_row {
    width: 100%;
    height: 2px;
    
    background-image: url('http://localhost:3000/images/assets/arrow.png');
    background-repeat: repeat-x;
    background-size: auto 100%;
    
    margin: 30px 0;
}