#navbar {
    background-color: @navbarBackgroundColor;  
        
    margin: 0 auto;
    
    float: left;
    position: relative;
    
    display: flex;
    
    text-align: center;
}

#navbar .nav-link {
    color: @navbarTextColor;
    
    font-family: @navbarLinksFontFamily;
    font-size: @navbarLinksFontSize;
    font-weight: @navbarLinksFontWeight;
    
    //padding: @navbarLinksPadding;
    
    height: 100%;
    width: @navbarLinksWidth;
    
    border-right: @navbarLinksBorder;
    
    line-height: @navHeight;
    
    text-rendering: geometricPrecision;
    text-transform: capitalize;
    vertical-align: middle;
    
    box-sizing: border-box;
    display: inline-block;
}

#navbar .nav-link:first-child {
    border-left: @navbarLinksBorder;
}

#navbar .nav-link:hover {
    cursor: default!important;
    
    background: @navbarLinksHoverBackground;
}

.wrapper {
	float: right;
    
    padding-right: 10px;
    
    text-align: right;
}