footer#footer
    div.row-collapse-wrapper
        section.footer-columns.footer-search
            p тут тіпки - пошук
        
        section.footer-columns.footer-socials
            div
                a(href="https://www.okko.ua/uk/rss", target="_blank", onmouseover="social_1.src='http://localhost:3000/images/assets/socials/rss-hover.png'", onmouseout="social_1.src='http://localhost:3000/images/assets/socials/rss.png'")
                    img(src="http://localhost:3000/images/assets/socials/rss.png", alt="rss", id="social_1", name="social_1", title="rss")
                    
                a(href="https://twitter.com/okkoua", target="_blank", onmouseover="social_2.src='http://localhost:3000/images/assets/socials/tw-hover.png'", onmouseout="social_2.src='http://localhost:3000/images/assets/socials/tw.png'")
                    img(src="http://localhost:3000/images/assets/socials/tw.png", alt="tw", id="social_2", name="social_2", title="twitter")
                    
                a(href="https://www.facebook.com/okkoua", target="_blank", onmouseover="social_3.src='http://localhost:3000/images/assets/socials/face-hover.png'", onmouseout="social_3.src='http://localhost:3000/images/assets/socials/face.png'")
                    img(src="http://localhost:3000/images/assets/socials/face.png", alt="facebook", id="social_3", name="social_3", title="facebook")
                    
                a(href="https://www.youtube.com/okkoua", target="_blank", onmouseover="social_4.src='http://localhost:3000/images/assets/socials/you-hover.png'", onmouseout="social_4.src='http://localhost:3000/images/assets/socials/you.png'")
                    img(src="http://localhost:3000/images/assets/socials/you.png", alt="youtube", id="social_4", name="social_4", title="youtube")
                    
                a(href="https://www.instagram.com/okkoua", target="_blank", onmouseover="social_5.src='http://localhost:3000/images/assets/socials/INSTA.png'", onmouseout="social_5.src='http://localhost:3000/images/assets/socials/insta_grey.png'")
                    img(src="http://localhost:3000/images/assets/socials/insta_grey.png", alt="instagram", id="social_5", name="social_5", title="instagram")
            p.
                © 2017 
                #[br]
                Supported by 
                    #[strong Wasya] 
                #[br]
                Designed & Developed by 
                    #[strong Wasya] 
        
        section.footer-columns.footer-phone
            p 0 800 501 101
                a(href="https://www.okko.ua/uk/contact_us").contactUs
