title #{page.title}

// styles
link(rel="stylesheet/less", href="http://localhost:3000/stylesheets/styles.less")

// include less
script(src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.1/less.min.js")

// include JQuery
script(src="http://localhost:3000/scripts/JQuery/jquery-3.1.1.js")

script(src="http://localhost:3000/scripts/main.js")
script(src="http://localhost:3000/scripts/animations/attach.js")