@trueAttach: #7DC454;
@falseAttach: #E13237;

@attachBorder: 2px;

@attachBgrImg: url('http://localhost:3000/images/assets/attach.png');

.attachBlock {
    position: absolute;
    right: 10px;
    top: 10px;
    
    background-image: @attachBgrImg;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
        
    height: 30px;
    width: 30px;
    
    border-radius: 50%;
    
    cursor:alias;
}

.attachBlock:active {
	cursor: default;
}

.attachBlockTrue {
    background-color: @trueAttach;
    border: @attachBorder solid @trueAttach - #222;
}

.attachBlockFalse {
    background-color: @falseAttach;
    border: @attachBorder solid @falseAttach - #222;
}

button {
    outline: none;
}