@idButtonBgr: transparent;
@idButtonbgrImg: url('http://localhost:3000/images/assets/settings.png');
@idButtonbgrImgCurrent: url('http://localhost:3000/images/assets/settingsChanged.png');

.listIdButton {
    background-color: @idButtonBgr!important;
    background-image: @idButtonbgrImg;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
    border: none;
    color: @questionsColor;
    font-family: @questionsFontFamily;
    font-size: @questionsFontSize;
    
    height: 20px;
    width: 20px;
    
    position: relative;
    
    margin: 0 0 0 20px!important;
    padding: 0!important;
}

.listIdButton:after {
    content: "";
}

.listIdButton:hover {
    background-image: @idButtonbgrImgCurrent;
    
	cursor: pointer;
}

.listIdButton:active {
	cursor: default;
}

button, #toList {
    padding: 12px 30px;
    
    background-color: #8bc646;
    color: white;
    
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: bold;
    
    //letter-spacing: 1px;
    
    //text-transform: uppercase;
        
    border: none;
    border-radius: 2px;
    
    cursor: pointer;
}

button:hover {
    background-color: #85C03F;
}