#listValues {
    padding: 10px 30px;
    
    color: #4B4B4B;
    
    font-family: @mainTitleFontFamily;
    font-size: 14px;
    font-weight: bold;
        
    border: 2px solid #F3F3F3;
    border-radius: 2px;
    
    outline: none!important;
    
    margin: 0!important;
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
    cursor: pointer;
}

option {
    color: #4B4B4B;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: bolder;
    
    text-transform: none!important;
    
    outline: none!important;
}

#renameForm>*, #addListForm >*{
    display: inline-block;
}

#renameForm input, #addListForm input {
	width: 100%;
    
    color: #222;
    font-family: 'Roboto';
    font-weight: bold;
    
    border: none;
    border-radius: 2px;
    
    margin: 10px 0;
    padding: 7px;
}

#confirmButton {
    float: right;
    margin-left: 10px;
}

#cancelButton {
    float: right;
}