#editmenu {
    background-color: @BackgroundColor;
    color: @navbarTextColor;
    
    font-family: @navbarLinksFontFamily;
    
    display: block;
        
    width: 150px;
}

#editmenu {
    position: absolute;
    
    display: inline-block;
}

.list_menu_item {
	width: 100%;
    
    display: inline-block;
    
    text-align: center;
    
    clear: both;
}

.list_menu_item:hover {
    background-color: @navbarTextColor;
    color: @BackgroundColor;
    
    cursor: default;
}