#message-block, #error-block {
    position: fixed;
    top: 0;
    
    z-index: 10;
    
    border-radius: 0 0 5px 5px;
    
    color: white;
    font-family: @mainTitleFontFamily;
    font-size: @mainTitleFontSize + 20px;
    font-weight: bolder;
    
    display: block;
        
    text-align: center;
    
    padding: 20px 0;
    
    cursor: default!important;
    
    width: 100%;
}

#message-block {
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(33, 33, 33), rgb(33, 33, 33), rgb(62, 62, 62), rgba(42, 147, 54, 0.4));
    text-shadow: 1px 0 3px green;
}

#error-block {
    background: linear-gradient(to bottom, rgb(16, 16, 16), rgb(0, 0, 0), rgb(33, 33, 33), rgb(60, 60, 60), rgba(145, 72, 66, 0.46));
    text-shadow: 1px 0 3px red;
}