#footer {    
    width: 100%;
    
    font-family: @footerFontFamily;
}

.row-collapse-wrapper {
    margin: 0 auto;
    width: @mainWidth;
    
    border-top: 1px solid @footerBorderColor;
    
    margin: 40px auto 0 auto;
    padding: 35px 0 10px 0;
}

.footer-columns {
    display: inline-block;
    
    vertical-align: top;
    
    width: 100% / 3;
}

.footer-socials {
    
}

.footer-socials div {
	margin: 0 auto;
    width: 32*5+5*2*8;
    
    overflow: hidden;
    
    box-sizing: content-box;
}

.footer-socials a{
    position: relative;
    
    display: inline-block;
    
    height: 32px;
    width: 32px;
    
    border-radius: 3px;
    
    outline: none !important;
    
    margin: 0 8px;
}

.footer-socials img{
    width: 100%;
    height: 100%;
}

.footer-socials p{
    text-align: center;
    
    color: #999999;
    font-family: @footerFontFamily;
    font-size: 10px;
    
    padding: 10px 0 10px 0;
    
    cursor: default;
    
    line-height: 1.35;
    
    z-index: 1;
}

.footer-phone {    
    position: relative;
            
    padding: 5px 8px 5px 0;
    
    color: #5a5a5a;
    font-family: @footerFontFamily;
    font-size: 14px;
}

.footer-phone p{
    text-align: right;
    
    cursor: default;
    
    float: right;
    
    position: relative;
    
    padding-right: 48px;
    
    width: 140px;
}

.footer-search {    
    color: #808080;
    font-family: @footerFontFamily;
}

.footer-search p {
	display: block;
    
    cursor: text;
    
    margin-left: 10px;
    padding: 7px 10px;
    
    width: 175px;
    
    text-transform: capitalize;
    
    font-size: 14px;
    
    border: 1px solid @footerBorderColor;
}

.footer-phone p::after {
    content: '';
    position: absolute;
    top: 0!important;
    left: -19px;
    width: 10px;
    height: 16px;
    background: url('http://localhost:3000/images/assets/phone.png') no-repeat center center;
    background-size: contain;
}

.contactUs {
    background-color: transparent!important;
    background-image: url('http://localhost:3000/images/assets/contactUs.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 85%;
    
    height: 24px;
    width: 27px;
    
    position: absolute;
    right: -1px;
    top: -4!important;
}