#header {
    background-color: @BackgroundColor;
    
    height: auto!important;
	width: 100%;
}

#mainNavigation {
    height: @navHeight;
    width: @navWidth;
    
    position: relative;
    
    display: block;
    
    margin: 0 auto;
}

#logo {
    background-image: @logoURL;
    background-repeat: no-repeat;
    background-size: 43.5% auto;
    background-position: center left;
    
    height: 100%;
    width: 26%;
        
    display: block;
    float: left;
    
    position: relative;
    
    margin-lef: 10px;
}

#languageBlock {
    width: 15%;
    
    float: right;
}

#languageBlock .wrapper{
    height: 100%;
	width: 82px;
}

#languageBlock a {
    font-family: @navbarLinksFontFamily;
	font-size: @navbarLinksFontSize;
    
    line-height: @navHeight;
}