body {
    background-color: @bodyColor;
}

main {
    background-color: @mainColor;
    
    width: @mainWidth;
    
    box-sizing: border-box;
    
    border-radius: @mainBorderRadius;
    
    margin: 0 auto;
}

a {
    text-decoration: none;
}

*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input, select, textarea, button, option {
    outline: none!important;
}

*:focus {outline: none;}

form {
    clear: both;
    
    display: block;
}

.mainErrorPage {
    
    
    text-align: center;
}

.mainErrorPage #errorStatus {
    font-family: arial black;
    font-size: 120px;
    font-weight: bold;
    color: #7D7D7D!important;
    margin-top: 85px;
}

.mainErrorPage #errorMessage {
    font-size: 55px;
    font-weight: bold;
    color: #7D7D7D!important;
}

.mainErrorPage button {
    margin: 70px 0;
}